body {


margin:0px;
padding:0px;
background-color: blue;
color:black;
margin-left: 5%;
margin-right:5%;
width:90%;

}


main {

display: grid;
grid-template-columns: 250px auto 250px 250px auto ;
grid-template-rows: auto auto;
grid-template-areas:
"grid_student grid_breaking grid_css"
"grid_boy grid_list grid_list";
}


.student {
grid-area: grid_student;


}

.breaking {
grid-area: grid_breaking;

}

.CSS {
grid-area: grid-css;
}

.boy {

grid-area: grid_boy;
}

.list {

grid-area:grid_list;
};


h1,h3 {

font-style: italic;
font-family: cursive;

}

p {

font-size: 14px;
font-family: arial;

}
